td {
    font-family: 'Times New Roman', Times, serif;
    line-height: 170%;
}

h3, h4 {
    text-align: center;
    line-height: 150%;
}

#head {
    width: 100%;
}

.media-button {
    min-width: 125px;
    width: 95%;
    padding-left: 5%;
}

.media-button div {
    padding-top: 5%;
    padding-bottom: 4%;
    margin-bottom: 5%;
    background-color: lightskyblue; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, black , lightskyblue);
    text-align: center;
}

.audtitle {
    color: white;
    margin-top: 4%;
}

audio {
    max-width: 220px;
    width: 60%;
    min-width: 110px;
}

.pages {
    width: 102%;
}

img {
    width: 100%;
    height: auto;
}

.highlighted {
    color: skyblue;
}

.nowrap {
    white-space: nowrap;
}

.vl {
    border-left: 2px solid cadetblue;
    margin: 3%;
    padding: -10%;
  }