td {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-align: center;
}

#head {
    width: 100%;
}

#pages {
    width: 102%;
}

img {
    width: 100%;
    height: auto;
}

span {
    color: skyblue;
}

.vl {
    border-left: 2px solid cadetblue;
    margin: 3%;
    padding: -10%;
  }